.input {
  background: none;
  border: none;
  outline: none;
  width: 12em;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

.wrapper {
  width: 18em;
  margin: 3em 1em 1em 1em;
  color: #ffffff;
  padding: 0.3em;
  text-align: center;
  border-radius: 0.8em;
  box-shadow: -2px 3px 2em 0px rgb(0 0 0 / 64%);
  position: relative;
  backdrop-filter: blur(4px);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2em;
  background: linear-gradient(73.97deg, #ce0baf1c -1.55%, rgb(25 5 27 / 23%));
  border: 1px #555 solid;
  caret-color: #555;
}

.subtitle {
  width:17.5em;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  margin-top: 0.5em;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}

h4 {
  color: transparent;
  text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.8);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}
