.sc-ion-alert-md-h .alert .showRes{
  --background: #fd0000 !important;
  font-weight: 600;
}

.container {
  padding: 2rem;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: #120b15;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr, 3fr, 3fr, 3fr;
  grid-template-areas:
    ". logo ."
    ". wrapper ."
    ". . .";
  justify-items: center;
}

.logo {
  grid-area: logo;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.title {
  transform-origin: center;
  max-width: 80%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 68.6px;
  line-height: 53.6px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: -0.05em;
  letter-spacing: -0.05em;
  color: #f9f9f9;
  text-shadow: -3px 4px 6px rgb(0 0 0 / 32%);
  justify-self: center;
  opacity: 0;
  animation: start 450ms ease-out 100ms forwards;
}

.subtitle {
  width: 100%;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: -0.5em;
  margin-right: -6.2em;
  color: #f9f9f9;
  opacity: 0;
  animation: start 450ms ease-out 320ms forwards;
}

.subtitle2 {
  width:16em !important;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 280;
  font-size: 13.6px;
  line-height: 15px;
  text-align: center;
  margin-top: auto;
  color: #ffffff;
  opacity: 0;
  animation: start 450ms ease-out 949ms forwards;
}

.wrapper {
  grid-area: wrapper;
  opacity: 0;
  animation: start 450ms ease-out 700ms forwards;
}

.result {
  grid-area: result;
}

.input1 {
  opacity: 0;
  animation: start 450ms ease-out 800ms forwards;
}

.input2 {
  opacity: 0;
  animation: start 450ms ease-out 900ms forwards;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.generalWrapper {
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

@keyframes start {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
