<div class="container">
  <div class="logo" tabIndex="-1">
    <h1 class="title">Collatz Conjecture</h1>
    <h3 class="subtitle">UVa 100</h3>
  </div>
  <div class="wrapper">
    <app-output
      class="result"
      [value]="result"
      [text]="'Which number in-range has \*the maximum number of cycles\*?' | boldText"
    ></app-output>
    <div class="generalWrapper">
      <div class="inputs">
        <app-input
          class="input1"
          [min]="1"
          [max]="100000"
          (sendValueEvent)="sortEvent($event, 1)"
        ></app-input>
        <app-input
          class="input2"
          [min]="1"
          [max]="100000"
          (sendValueEvent)="sortEvent($event, 2)"
        ></app-input>
      </div>
      <h3 class="subtitle2">
        <b>Define the sequence's range</b> to calculate upon.
      </h3>
    </div>
  </div>
</div>
